@font-face {
    font-family: DM Mono;
    src: url("assets/fonts/DM Mono.ttf");
}
body{
    font-family: DM Mono;
    background: linear-gradient(to right, rgb(0, 217, 255),rgb(0, 255, 183), rgb(67, 199, 1));
}