main{
    background-color: rgba(0, 0, 0, 0.348);
    position: relative;
    margin: 90px auto;
    width: 80%;
    padding: 10px;
    color: white;
    .img-holder{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        img{
            position: relative;
            width: 100%;
        }
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    h1,h2,h4{
        margin: 10px auto;
        width: fit-content;
    }
    .margin-top-20{
        margin-top: 20px;
    }
    .shell-style{
        background-color: rgba(0, 0, 0, 0.7);
        width: fit-content;
        padding: 5px;
        border-radius: 7px;
        margin: 0 auto;
    }
}